/* ---- reset ---- */ body{
          margin:0;
         font:normal 75% Arial, Helvetica, sans-serif; } 
 
/* ---- particles.js container ---- */ 
#particles-js{
    display: block;
    width: 100%;
    height: 100%;
    background-color:
    #01080a; 
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: 50% 50%;
}
nav{
    background-color:"#00cfc3
}
